.card {
    height: 100px;
    width: 50%;

    background-color: #735bf2;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px;
    font-size: 18px;
}